/* app/globals.css */
@import "tailwindcss";

header{
  background-color: black;
  color:white;
} 

body {
  margin: 0;
  font-family: sans-serif;
  background-color: rgba(223, 231, 231, 0.226);
}



